{% extends "base.html.twig" %}


{% block body %}
    <h1>liste des utilisateurs</h1>
    <h1> Nom : {{info.name}}</h1>
    <h3>{{info.created_at}}</h3>
    <h4>{{info.password}}</h4>

{% endblock %}


{% block javaScript %}
{% endblock %}
