<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>les utilisateurs</title>
</head>
<body>

    
    
   
    <% if (methode !== "delete") { %>

        <h1>user a l'id : <%= info.id %></h1>
        <h1> Nom :  <%= info.name %></h1>
        <h3><%= info.created_at %></h3>
        <h4><%= info.password %></h4>

      <% } %>

      <% if (methode === "delete") { %>
        <h2>supprimer avec succes</h2>
      <% } %>

</body>
</html>